{
    "enabled": true,
    "output": {
        "type": "local",
        "formatter": {
            "implementation": "OpenEdge.Net.HTTP.Trace.Formatter.JsonFormatter",
            "options": {
                "formatted": true
            }
        },
         "writer": {
            "implementation": "OpenEdge.Net.HTTP.Trace.Writer.FileWriter",
            "options": {
                "fileName": "${SESSION.TEMP-DIR}/trace-${T.MTIME}.json"
            }
        }

    },
    "rules": {
        "filter": {
        },
        "request": {
            "OpenEdge.Net.HTTP.Trace.Rule.BodyDataRule": {
                "policy": "allow-all"
            },
            "OpenEdge.Net.HTTP.Trace.Rule.CookieRule": {
                "policy": "allow-all"
            },
            "OpenEdge.Net.HTTP.Trace.Rule.HeaderRule": {
                "policy": "allow-all"
            },
            "OpenEdge.Net.HTTP.Trace.Rule.QueryStringDataRule": {
                "policy": "allow-all"
            }
        },
        "response": {
            "OpenEdge.Net.HTTP.Trace.Rule.BodyDataRule": {
                "policy": "allow-all"
            },
            "OpenEdge.Net.HTTP.Trace.Rule.CookieRule": {
                "policy": "allow-all"
            },
            "OpenEdge.Net.HTTP.Trace.Rule.HeaderRule": {
                "policy": "allow-all"
            },
            "OpenEdge.Net.HTTP.Trace.Rule.HeaderRule": {
                "policy": "allow-all"
            }
        }
    }
}
