{
    "enabled": true,
    "output": {
        "type": "local"
    },
    "rules": {
        "filter": {
        },
        "request": {
            "OpenEdge.Net.HTTP.Trace.Rule.BodyDataRule": {
                "policy": "allow-all"
            },
            "OpenEdge.Net.HTTP.Trace.Rule.CookieRule": {
                "policy": "allow-all"
            },
            "OpenEdge.Net.HTTP.Trace.Rule.HeaderRule": {
                "policy": "allow-all"
            },
            "OpenEdge.Net.HTTP.Trace.Rule.QueryStringDataRule": {
                "policy": "allow-all"
            }
        },
        "response": {
            "OpenEdge.Net.HTTP.Trace.Rule.BodyDataRule": {
                "policy": "allow-all"
            },
            "OpenEdge.Net.HTTP.Trace.Rule.CookieRule": {
                "policy": "allow-all"
            },
            "OpenEdge.Net.HTTP.Trace.Rule.HeaderRule": {
                "policy": "allow-all"
            },
            "OpenEdge.Net.HTTP.Trace.Rule.HeaderRule": {
                "policy": "allow-all"
            }
        }
    }
}
